# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\maksu\Downloads\Fall 2020\Software Engineering\Labs\Lab 5\exercise-paging-361-master\exercise-paging-361-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
